/*---------- BUTTONS start -----------*/

button {
    padding: 10px 20px;
    background: #bfa290;
    border: none;
    border-radius: 3px;
    opacity: 0.9;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.80);
    margin-bottom: 8px;
}

button.secondary-button {
    color: #bfa290;
    background: none;
    outline: 2px solid #bfa290;
    outline-offset: -2px;
}

button.secondary-button i {
    color: #bfa290;
}

button i {
    color: #ffffff78;
}

button:hover {
    color:white;
    opacity: 1;
}

button.secondary-button:hover {
    color: white;
    background: #bfa290;
}

button:hover i {
    color: white;
}

button.donation-button i.fa-solid, button.donation-button:hover i.fa-regular {
    display: none;
}

button.donation-button:hover i.fa-solid, button.donation-button i.fa-regular {
    display: inline;
}

/*---------- BUTTONS end -----------*/


/*---------- [MEDIA QUERIES] start ------------*/


/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    button {
        margin-bottom: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*---------- [MEDIA QUERIES] end ------------*/
