/*///////////// COOKIES MODAL START /////////////*/

  div#cookies-modal-container {
    display: flex;
    justify-content: center;
  }
  
  div#cookies-modal {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 10px);
    max-width: 900px;
    margin: 0 auto;
    display: flex !important;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
    border-radius: 6px;
    backdrop-filter: blur(6px);
    z-index: 10;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.18);
  }
 
  div#cookies-title {
    color: #000;
  }
  
  div#cookies-modal a {
    color: #000;
  }

  div#cookies-modal a:hover {
    color: #000;
  }
 
  div#cookies-modal-buttons {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  div#cookies-modal button {
    padding: 5px 25px 4px;
    border-radius: 4px;
    letter-spacing: 0;
    text-transform: uppercase;
    float: right;
    font-size: 0.9rem;
    border-width: 1px;
    opacity: 0.8;
    border: 2px solid #000;
    background: rgba(255, 255, 255, 0.508);
    color: #000;
  }

  div#cookies-modal button:first-child {
    margin-left: 6px;
  }

  div#cookies-modal button#reject-cookies-button {
    opacity: 0.4;
    border-color: #000000a7;
  }
  
  div#cookies-modal button:hover, div#cookies-modal button#reject-cookies-button:hover {
    background:white;
    color: #000;
    box-shadow: none;
    opacity: 1;
  }  
  
  div#cookies-modal.cookies-d-none {
    display: none !important;
  }

  @media (min-width: 768px) {
  
    div#cookies-modal {
      justify-content: space-between;
      bottom: 20px;
    }
  
    div#cookies-modal-buttons {
      margin: 0;
    }
  
  }

  /*///////////// CUSTOMIZE COLORS START /////////////*/
  
  div#cookies-modal a {
    border-bottom: 2px dotted #bfa290;
  }

  div#cookies-modal a:hover {
    border-bottom: 2px solid #bfa290;
  }

  div#cookies-modal button#accept-cookies-button {
    color: #2f2823;
    background: #bfa290;
    border-color: #504239;
  }

  /*///////////// CUSTOMIZE COLORS END /////////////*/
  
  /*///////////// COOKIES MODAL END /////////////*/