/*---------- FOOTER start ------------*/

footer {
    display: grid;
    border-top: 2px solid #00000011;
    padding: 20px 20px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

div#social-icons, div#legal, div#the-poly-group {
    text-align: center;
}

div#legal {
    padding: 30px 0;
}

div#legal a {
    border-bottom: 3px dotted #bfa290;
}

div#legal a:hover {
    border-bottom: 3px solid #bfa290;
}

div#social-icons ul li {
    display: inline;
    margin-left: 8px;
}

div#social-icons ul li:first-of-type {
    margin-left: 0;
}

div#social-icons ul li i {
    color: #bfa290;
}

div#social-icons ul li a {
    border-bottom: 0;
    opacity: 0.7;
}

div#social-icons ul li a:hover {
    opacity: 1;
}

div#tpg {
    display: inline;
}

/*---------- FOOTER end ------------*/

/*---------- [MEDIA QUERIES] start ------------*/


/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    footer {
        grid-template-columns: repeat(3,1fr);
    }

    div#social-icons {
        text-align: left;
    }

    div#legal {
        padding: 0;
    }

    div#the-poly-group {
        text-align: right;
        width: 80px;
        justify-self: end;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*---------- [MEDIA QUERIES] end ------------*/
