/*---------- GENERAL start------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #FBFBFB;
}

body {
  border-top: 10px solid #bfa290;
}

div#hello-bar, div#hello-bar small {
  text-align: center;
}
div#hello-bar {
  width: calc(100% - 14px);
  padding: 15px 7px 18px;
  border-bottom: 2px solid #00000011;
}

a {
  text-decoration: none;
}

div.tasks {
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 40px;
}

div.tasks input {
  height: 20px;
  width: 20px;
  accent-color: #bfa290;
}

div.tasks label {
  margin-left: 6px;
}

pre {
  overflow: scroll;
  background: #222222;
  padding: 0 20px;
  margin-bottom: 2rem;
}

code {
  color: #ffffffd4;
  background: #222222;
  padding: 0 6px;
  font-family: 'Source Code Pro', monospace;
}

div.content-container {
  width: 100%;
  max-width: 760px;
  margin: 160px auto 100px;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}


/*---------- GENERAL end ------------*/


/*---------- [MEDIA QUERIES] start ------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) {
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*---------- [MEDIA QUERIES] end ------------*/