/*---------- HEADER start ------------*/

header {
    margin-top: 20px;
    padding: 10px 20px;
}

header img {
    float: left;
    height: 35px;
    width: auto;
}

header nav {
    float: right;
    display: none;
}

a#github {
    opacity: 0.7;
}

a#github:hover {
    opacity: 1;
}

/*---------- HEADER end ------------*/


/*---------- HEADER [STATES] start ------------*/



/*---------- HEADER [STATES] end ------------*/

/*---------- HEADER [MEDIA QUERIES] start ------------*/


/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    header img {
        height: 50px;
        width: auto;
    }

    header nav {
        display: block;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*---------- HEADER [MEDIA QUERIES] end ------------*/
